body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    letter-spacing: 2px;
    background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.content{
    position:absolute;
    top: 50%;
    left:50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 100%;
    color: white;
    /* background-color: #c2cace; */
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
}

.content a{
    text-decoration: none;
    color: white;
}